* {
    margin: 0;
    padding: 0
}

.input {
    background-color: cornflowerblue;
    height: 220px;
    /* position: relative; */
}

.title{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 48px;
    padding: 20px;
}

.button{    
    width: 90%;
    display: flex;
    text-align: center;
    margin: auto;
}
.searchButton{
    width: 90%;
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.myInput{
    width: 90%;
    height: 25px;
    border: none;
    font-size: 15px;
    padding: 12px;
    float: left;
}
.click{
    font-family: 'Times New Roman', Times, serif;
    border: 1px none;
    background-color: #fee401;
    padding: 14px;
    float: left;
    cursor: pointer;
    transition: 0.5s;
    width: 15%;
    font-size: 16px;
}


.click:hover {
    background-color: darkslateblue;
    color: white;
}

.listItem {
    background-color: #fee401;
    list-style-type: none;
    padding: 20px 0 0 40px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #c2d2e1;
    position: relative;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.listItem:nth-child(odd) {
    background-color: #ffeb3b;
}

.listItem:hover {
    transition: 0.5s;
    background-color: darkslateblue;
    color: white;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 18px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 25px;
}

.close:hover {
    background-color: cornflowerblue;
}

.checked{
    background-color: darkslateblue;
    text-decoration: line-through;
    color: white;
}